# Proyecto 03
Elaborado por: Lady Tatiana Aguillón Suárez y Laura Alejandra Palomino Camacho

###Tabla de contenido
1.Introducción

2.Exploración inicial de los datos

3.Limpieza de los datos

4.Diferencia de proporciones

5.Distribución normal

6.Division del dataset

7.Tablas de contingencia

8.prueba Chi^2

9.Conclusión general

### Introducción

El proyecto 3 que se muestra a continuación se continúan haciendo algunos análisis sobre la tenencia de las tarjetas de crédito. Para esto se realizaron tablas de contigencia y pruebas Chi^2 en las que se pudo tener una mayor conocimiento sobre cada una de las variables de estudio.

### Cargue de librería y base de datos

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
import seaborn as sns
%matplotlib inline

In [4]:
!pip install wooldridge pingouin missingno

import wooldridge as wd
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import scipy.stats as st
import pingouin as pg

import missingno as ms

from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import IsolationForest
from sklearn.impute import KNNImputer, MissingIndicator
from scipy.spatial.distance import mahalanobis

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting wooldridge
  Downloading wooldridge-0.4.4-py3-none-any.whl (5.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 4.9 MB/s eta 0:00:00
Collecting pingouin
  Downloading pingouin-0.5.3-py3-none-any.whl (198 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.6/198.6 KB 20.6 MB/s eta 0:00:00
Requirement already satisfied: missingno in /usr/local/lib/python3.9/dist-packages (0.5.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from wooldridge) (1.3.5)
Collecting pandas-flavor>=0.2.0
  Downloading pandas_flavor-0.5.0-py3-none-any.whl (7.1 kB)
Requirement already satisfied: numpy>=1.19 in /usr/local/lib/python3.9/dist-packages (from pingouin) (1.22.4)
Requirement already satisfied: matplotlib>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from pingouin) (3.5.3)
Requirement already satisfied: seaborn>=0.11 in /usr/local/lib/python3.9/dist-packages (from pingouin) (0.11.2)
Requirement already satisfied: statsmodels>=0.13 in /usr/local/lib/python3.9/dist-packages (from pingouin) (0.13.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.9/dist-packages (from pingouin) (1.2.1)
Requirement already satisfied: tabulate in /usr/local/lib/python3.9/dist-packages (from pingouin) (0.8.10)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.9/dist-packages (from pingouin) (1.10.1)
Collecting outdated
  Downloading outdated-0.2.2-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.0.2->pingouin) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.0.2->pingouin) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.0.2->pingouin) (4.39.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.0.2->pingouin) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.0.2->pingouin) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.0.2->pingouin) (8.4.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.0.2->pingouin) (23.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/dist-packages (from pandas->wooldridge) (2022.7.1)
Collecting lazy-loader>=0.1
  Downloading lazy_loader-0.1-py3-none-any.whl (8.6 kB)
Requirement already satisfied: xarray in /usr/local/lib/python3.9/dist-packages (from pandas-flavor>=0.2.0->pingouin) (2022.12.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.13->pingouin) (0.5.3)
Requirement already satisfied: setuptools>=44 in /usr/local/lib/python3.9/dist-packages (from outdated->pingouin) (57.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from outdated->pingouin) (2.25.1)
Collecting littleutils
  Downloading littleutils-0.2.2.tar.gz (6.6 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn->pingouin) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn->pingouin) (3.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.2->statsmodels>=0.13->pingouin) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->outdated->pingouin) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->outdated->pingouin) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests->outdated->pingouin) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->outdated->pingouin) (2.10)
Building wheels for collected packages: littleutils
  Building wheel for littleutils (setup.py) ... done
  Created wheel for littleutils: filename=littleutils-0.2.2-py3-none-any.whl size=7047 sha256=6eedef5bdbd5831b6d53f994c5221c1740aaac801f12f19de41a9f58471da8ae
  Stored in directory: /root/.cache/pip/wheels/04/bb/0d/2d02ec45f29c48d6192476bfb59c5a0e64b605e7212374dd15
Successfully built littleutils
Installing collected packages: littleutils, lazy-loader, outdated, wooldridge, pandas-flavor, pingouin
Successfully installed lazy-loader-0.1 littleutils-0.2.2 outdated-0.2.2 pandas-flavor-0.5.0 pingouin-0.5.3 wooldridge-0.4.4

In [5]:
dataset = pd.read_csv('https://raw.githubusercontent.com/labeconometria/MLxE/main/proyectos1er/dataset_2.csv')
dataset

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

### Exploración inicial de los datos

In [6]:
dataset.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [7]:
dataset.tail()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

In [9]:
dataset.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
      dtype='object')

### Limpieza de datos

In [10]:
dataset = dataset.drop(columns=['CLIENTNUM','Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1','Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'])

In [11]:
dataset['Attrition_Flag'].value_counts(normalize=True)

Existing Customer    0.83934
Attrited Customer    0.16066
Name: Attrition_Flag, dtype: float64

In [12]:
dataset['Gender'].value_counts(normalize=True)

F    0.529081
M    0.470919
Name: Gender, dtype: float64

In [13]:
dataset.duplicated().sum()

0

In [14]:
dataset.isna().sum()

Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

### Verifique si la diferencia de proporciones para las siguientes variables es estadísticamente significativa:

##### Attrition flag

##### Gender

### Verifique si las siguientes variables siguen una distribución normal

#### Customer Age

In [16]:
st.shapiro(dataset['Customer_Age'])

ShapiroResult(statistic=0.9960411787033081, pvalue=5.610766359644983e-16)

##### Conclusión
A partir de la salida, podemos ver que el estadístico de prueba es 0,9960411 y el valor p correspondiente es 5,610e-16 . Dado que el valor p es menor que .05, rechazamos la hipótesis nula y tenemos evidencia suficiente para decir que los datos de la muestra provienen de una distribución normal.

#### Dependent Count

In [19]:
st.shapiro(dataset['Dependent_count'])

ShapiroResult(statistic=0.9369626045227051, pvalue=0.0)

##### Conclusión
A partir de la salida, podemos ver que el estadístico de prueba es 0,9369 y el valor p correspondiente es 0,0 . Dado que el valor p es menor que .0.5, rechazamos la hipótesis nula

### Divida el dataset en dos grupos a partir de la variable Attrition Flag. Verifique si hay diferencias en la media o en la mediana significativas en cuanto a Customer Age y en cuanto a Dependent Count para los dos grupos.

## Construya cinco tablas de contingencia que relacionen por separado la variable Attrition Flag con:

#### Gender

In [ ]:
tcontingenciagender = pd.crosstab(dataset['Attrition_Flag'], dataset['Gender'])
tcontingenciagender

Gender                F     M
Attrition_Flag
Attrited Customer   930   697
Existing Customer  4428  4072

##### Conclusión
Por medio de la tabla de contingencia se puede observar que las mujeres son quienes tienen mas tarjetas de crédito, aunque de los individuos que no hacen uso de ellas son de igual forma en su mayoría mujeres

### Education Level

In [ ]:
tcontingenciaeducation = pd.crosstab(dataset.Attrition_Flag, dataset.Education_Level)
tcontingenciaeducation

Education_Level,College,Doctorate,Graduate,High School,Post-Graduate,Uneducated,Unknown
Attrition_Flag,,,,,,,
Attrited Customer,154,95,487,306,92,237,256
Existing Customer,859,356,2641,1707,424,1250,1263

#### Conclusión
Por medio de la tabla de contigencia se puede encontrar que las personas que más usan tarjetas de crédito se encuentran graduadas y en una relación proporcional, las personas graduadas son las que más han desistido de sus cuentas.

### Marital Status

In [ ]:
tcontingenciamarital = pd.crosstab(dataset.Attrition_Flag, dataset.Marital_Status)
tcontingenciamarital

Marital_Status     Divorced  Married  Single  Unknown
Attrition_Flag
Attrited Customer       121      709     668      129
Existing Customer       627     3978    3275      620

####Conclusión
Para este caso se puede evidenciar que no existe una relación significativa entre el estado civil frente al uso de tarjetas de crédito, aunque si se puede observar que las personas que más dejan de usar estas o deciden usarlas se encuentran entre un estado casado o soltero

### Income Category

In [ ]:
tcontingenciaincome = pd.crosstab(dataset.Attrition_Flag, dataset.Income_Category)
tcontingenciaincome

Income_Category,$120K +,$40K - $60K,$60K - $80K,$80K - $120K,Less than $40K,Unknown
Attrition_Flag,,,,,,
Attrited Customer,126,271,189,242,612,187
Existing Customer,601,1519,1213,1293,2949,925

####Conclusión
Se puede observar que las personas con menos ingresos son quienes más hacen usos de la tarjetas de crédito, así que se puede decir que existe una relación significativa para estas variables. Aunque también es importante destacar que aunque las personas de mayores ingresos tienen menos tarjetas de crédito, así mismo desertan menos de sus cuentas.

### Card Category

In [ ]:
tcontingenciacard = pd.crosstab(dataset['Attrition_Flag'], dataset['Card_Category'])
tcontingenciacard

Card_Category      Blue  Gold  Platinum  Silver
Attrition_Flag
Attrited Customer  1519    21         5      82
Existing Customer  7917    95        15     473

####Conclusión
Se puede encontrar que en su mayoría las personas hace un mayor uso de la tarjeta Blue, seguido de la silver. Así mismo, son más tarjetas de esta categoría de las que se retiran los clientes.

##Lleve a cabo, para cada tabla, una prueba x2

### Gender

In [ ]:
st.chi2_contingency(tcontingenciagender)

Chi2ContingencyResult(statistic=13.865613700637342, pvalue=0.00019635846717310269, dof=1, expected_freq=array([[ 860.81425891,  766.18574109],
       [4497.18574109, 4002.81425891]]))

####Conclusión
Para este caso se estaría rechazando la hipótesis nula ya que se puede evidenciar que existe una relación significativa entre las variables Gender y Attrition Flag y su pvalue es menor a .05

### Education level

In [ ]:
st.chi2_contingency(tcontingenciaeducation)

Chi2ContingencyResult(statistic=12.51120540483051, pvalue=0.05148913147336627, dof=6, expected_freq=array([[ 162.74819789,   72.45748988,  502.54330009,  323.40782068,
          82.90036536,  238.90085909,  244.04196702],
       [ 850.25180211,  378.54251012, 2625.45669991, 1689.59217932,
         433.09963464, 1248.09914091, 1274.95803298]]))

####Conclusión
Para este caso el valor P es mayor que el nivel de significancia, por esto se puede decir que no escudete una relación segnificativa entre las variables Education Level y Attrition Flag

### Marital status

In [ ]:
st.chi2_contingency(tcontingenciamarital)

Chi2ContingencyResult(statistic=6.056097396726619, pvalue=0.10891263394840227, dof=3, expected_freq=array([[ 120.17339785,  753.01165202,  633.48089266,  120.33405747],
       [ 627.82660215, 3933.98834798, 3309.51910734,  628.66594253]]))

####Conclusión
De acuerdo con observado se puede decir que no existe una relación significativa entre las variables Marital status y Attrition Flag, con esto no se podría rechazar la hipotesis nula

### Income Category

In [ ]:
st.chi2_contingency(tcontingenciaincome)

Chi2ContingencyResult(statistic=12.832259274756895, pvalue=0.025002425704390617, dof=5, expected_freq=array([[ 116.79954577,  287.5807248 ,  225.24479115,  246.61252098,
         572.10891676,  178.65350054],
       [ 610.20045423, 1502.4192752 , 1176.75520885, 1288.38747902,
        2988.89108324,  933.34649946]]))

####Conclusión
En el caso de las variables Income Category y Attrition Flag se puede decir que si existe una relación significativa entre estas dos variables ya que se está rechazando la hipótesis nula y se tiene un pvalue menor a .05

### Card Category

In [ ]:
st.chi2_contingency(tcontingenciacard)

Chi2ContingencyResult(statistic=2.2342267000046805, pvalue=0.5252382797994759, dof=3, expected_freq=array([[1.51598420e+03, 1.86365162e+01, 3.21319246e+00, 8.91660906e+01],
       [7.92001580e+03, 9.73634838e+01, 1.67868075e+01, 4.65833909e+02]]))

####Conclusión
Sobre las variables Card Category y Attrion Flag se puede evidenciar que no existe una relación significativa entre estas dos variables y que estas serían independientes

## Conclusión general

Al realizar otros análisis como las tablas de contigencia y la prueba Chi^2 se pueden conocer cuáles son las variables que puden permitir relizan un análisis mayor de los datos. Para el caso de las tablas pivot se pudo encontrar en qué grupos se encuentran las personas que hacen uso de las tarjetas de crédito cubriendo algunas variables como el género, nivel de educación o estado civil. En cuanto los resultados de la prueba Chi ^2 se pudo determinar cuáles son la variables dependientes e independientes que son necesarias para él estudio